
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="title-page">Train Bot</h2>
<div>
    <!-- Page Heading -->
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <form>
                <div class="input-group mb-3">
                    <h6 class="m-0 font-weight-bold text-primary">Train List</h6>

                </div>
            </form>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nội Dung</th>
                            <th>Số Lần Xuất Hiện</th>
                            <th>Nhập Câu Trả Lời</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody id="myTable">
                        @foreach (var item in Model as IEnumerable<WEBSoLienLacDienTu.Areas.Admin.Models.NoiDungChatBotModel>)
                        {

                                <tr>
                                    <td >
                                        <div>
                                            @item.NoiDung
                                        </div>
                                    </td>
                                    <td >
                                        <div>
                                            @item.SoLan
                                        </div>
                                    </td>
                                   <td>
                                       @Html.TextBox("Text","", new {@class = "form-control"})
                                   </td>
                                    <td width="10%"><input class="btn btn-danger" type="button" value="Xác Nhận" OnClick="AddAnswer(@item.NoiDung,@item.NoiDung)" />
                                    </td>
                                </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>
    function AddAnswer(cauHoi, cauTraLoi) {
        $.ajax({
            url: "/Admin/TrainBot/AddAnswer",
            data: JSON.stringify({ cauHoi: cauHoi, cauTraLoi: cauTraLoi }),
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                alert("Thành Công");
                location.reload();
            },
            error: function (errormessage) {
                alert("Thất Bại !");
            }
        });
    }
</script>

