<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="Database" connectionString="SERVER=125.212.218.20;Database = nxtckedu_SoLienLac; uid= nxtckedu_USTeam; pwd= USTeam*1999"
      providerName="System.Data.SQLClient" />
  </connectionStrings>
</configuration>