
@{
    ViewBag.Title = "BangDiem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BangDiem</h2>
<div class="container-fluid">
    <!-- Page Heading -->
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <form>
                <div class="input-group mb-3">
                    <h6 class="m-0 font-weight-bold text-primary">Bảng Điểm</h6>

                </div>
            </form>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="dataTable" cellspacing="0">
                    <thead>
                        <tr>
                            <th></th>
                            <th colspan="5">Điểm Miệng</th>
                            <th colspan="5">Điểm 15P</th>
                            <th colspan="5">Điểm 1 Tiết</th>
                            <th>Điểm Học Kỳ</th>
                        </tr>
                        <tr>
                            <th>Tên</th>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                            <th>4</th>
                            <th>5</th>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                            <th>4</th>
                            <th>5</th>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                            <th>4</th>
                            <th>5</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody id="myTable" class="tbody"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

