
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Cập Nhật Thông Tin Học Sinh</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <from class="form-group"></from>
            <label for="text1">Họ và Tên</label>
            <div class="input-group mb-3">
                <input id="text1" type="text" size="50" />
            </div>

            <label for="text2">Giới tính</label>
            <div class="input-group mb-3">
                <input id="text2" type="text" size="50" />
            </div>

            <label for="text3">Ngày Sinh</label>
            <div class="input-group mb-3">
                <input id="text3" type="text" size="50" />
            </div>

            <label for="text4">Dân tộc</label>
            <div class="input-group mb-3">
                <input id="text4" type="text" size="50" />
            </div>

            <label for="text5">Tôn giáo</label>
            <div class="input-group mb-3">
                <input id="text5" type="text" size="50" />
            </div>
            <label for="sel1">Lớp</label>
            <div class="input-group mb-3">
                <select class="form-control" id="sel1" name="sellist1"></select>
            </div>

            <input id="Button1" type="button" value="Cập Nhật Thông Tin" />
        </div>
    </div>
</div>
  
            

