
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi Tiết Điểm Danh</h2>
<form>
    <label for="sel1">Chọn Lớp:</label>
    <div class="input-group mb-3">
        <select class="form-control" id="sel1" name="sellist1">
            <option>10A1</option>
            <option>10A2</option>
            <option>11A3</option>
            <option>12A4</option>
        </select>
        <button type="submit" class="btn btn-warning">Chọn</button>
    </div>
</form>
<div class="container-fluid">   
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <form>
                <div class="input-group mb-3">
                    <h6 class="m-0 font-weight-bold text-primary">Danh Sách Học Sinh</h6>

                </div>
            </form>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tên Học Sinh</th>
                            <th>Giới Tính</th>
                            <th>Ngày Sinh</th>
                            <th>Dân Tộc</th>
                            <th>Tôn Giáo</th>
                            <th>Vắng</th>
                        </tr>
                    </thead>                  
                </table>
            </div>
        </div>
    </div>
</div>


