
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="title-page"><h2>Thời Khóa Biểu Cá Nhân</h2></div>

<div class="container-fluid">
    <!-- Page Heading -->
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body ">
            <div class="row" id="panelTKB">
                <div class="col" style="padding: 0; width: auto; text-align: center;">
                    <div style="font-weight: bold;">Tiết</div>
                    @for (int i = 1; i < 11; i++)
                    {
                        <div>
                            Tiết @i
                        </div>
                    }
                </div>
                <div class="col" style="padding: 0; width: auto; text-align: center;">
                    <div style="font-weight: bold;">Thứ 2</div>
                    @foreach (var item in ViewBag.LstT2)
                    {
                        <div>
                            @item
                        </div>
                    }
                </div>
                <div class="col" style="padding: 0; width: auto; text-align: center;">
                    <div style="font-weight: bold;">Thứ 3</div>
                    @foreach (var item in ViewBag.LstT3)
                    {
                        <div>
                            @item
                        </div>
                    }
                </div>
                <div class="col" style="padding: 0; width: auto; text-align: center;">
                    <div style="font-weight: bold;">Thứ 4</div>
                    @foreach (var item in ViewBag.LstT4)
                    {
                        <div>
                            @item
                        </div>
                    }
                </div>
                <div class="col" style="padding: 0; width: auto; text-align: center;">
                    <div style="font-weight: bold;">Thứ 5</div>
                    @foreach (var item in ViewBag.LstT5)
                    {
                        <div>
                            @item
                        </div>
                    }
                </div>
                <div class="col" style="padding: 0; width: auto; text-align: center;">
                    <div style="font-weight: bold;">Thứ 6</div>
                    @foreach (var item in ViewBag.LstT6)
                    {
                        <div>
                            @item
                        </div>
                    }
                </div>
                <div class="col" style="padding: 0; width: auto; text-align: center;">
                    <div style="font-weight: bold;">Thứ 7</div>
                    @foreach (var item in ViewBag.LstT7)
                    {
                        <div>
                            @item
                        </div>
                    }
                </div>
                <div class="col" style="padding: 0; width: auto; text-align: center;">
                    <div style="font-weight: bold;">Chủ Nhật</div>
                    @foreach (var item in ViewBag.LstCN)
                    {
                        <div>
                            @item
                        </div>
                    }
                </div>
                
            </div>
        </div>
    </div>

</div>

