
@{
    ViewBag.Title = "EndEssay";
    Layout = "~/Areas/HeThongTaiLieu/Views/Shared/_Layout_HeThongTaiLieu.cshtml";
}

<h2>Chúc Mừng Bạn Đã Làm Hết Tất Cả Câu Hỏi Của Phần Này</h2>
<button class="btn btn-danger" onclick="window.location.href='/HeThongTaiLieu/User/Selected_Subject_Student'">Click Vào Đây Để Chọn Đề Khác</button>
