
@{
    ViewBag.Title = "Selected_Subject_Student";
    Layout = "~/Areas/HeThongTaiLieu/Views/Shared/_Layout_HeThongTaiLieu.cshtml";
}

<h2 class="title-page">Chọn Môn Học</h2>
<div class="card-columns">
   
    <div class="card bg-warning btnMon">
        <div class="card-body text-center">
            <p class="card-text">Toán</p>
        </div>
    </div>
    <div class="card bg-success btnMon">
        <div class="card-body text-center">
            <p class="card-text">Lý</p>
        </div>
    </div>
    <div class="card bg-danger btnMon">
        <div class="card-body text-center">
            <p class="card-text">Hóa</p>
        </div>
    </div>
    <div class="card bg-warning btnMon">
        <div class="card-body text-center">
            <p class="card-text">Văn</p>
        </div>
    </div>
    <div class="card bg-info btnMon">
        <div class="card-body text-center">
            <p class="card-text">Anh Văn</p>
        </div>
    </div>


</div>