
@{
    ViewBag.Title = "Selected_Subject_Student";
    Layout = "~/Areas/HeThongTaiLieu/Views/Shared/_Layout_HeThongTaiLieu.cshtml";
}

<style>
    .btn_selectSubject:hover {
        cursor: pointer;
    }
</style>
<h2 class="title-page">Chọn Môn Học</h2>
<div class="row">

    @foreach (var item in Model as IEnumerable<DTO.MonHoc>)
    {

        <div class="col-6 col-md-3 btn_selectSubject" style="padding: 10px;" onclick="window.location.href='@Url.Action("Selected_Topic","User",new { idMon = item.ID })'" >
            <div class="panel panel-warning">
                <div class="panel-heading">Tài Liệu Môn:</div>
                <div class="panel-body">@item.TenMon</div>
            </div>
        </div>

    }


</div>