
@{
    ViewBag.Title = "TuLuan";
    Layout = "~/Areas/HeThongTaiLieu/Views/Shared/_Layout_HeThongTaiLieu.cshtml";
}


<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 80%;
        margin: 0 auto;
    }

    #downloadFile:hover {
        text-decoration: underline;
        cursor: pointer;
        color: blue;
    }

    table th, table td {
        padding: 2px !important;
    }


    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 2px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    #link_document:hover {
        text-decoration: underline;
        cursor: pointer;
        color: blue;
    }
</style>
<h4 class="title-page">Đề thi hiện có</h4>
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>Mã đề thi</th>
        <th>Tên đề thi</th>
        <th>Ngày Tải Lên</th>
        <th></th>
    </tr>
    @foreach (var item in Model as IEnumerable<WEBSoLienLacDienTu.Areas.HeThongTaiLieu.Model.DocumentModel>)
    {
        <tr>

            <td>@item.ID</td>
            <td id="downloadFile" onclick="window.location.href='/GiaoVien/HeThongTaiLieu_GV/DownloadFile?filePath=@item.Path'">@item.NameDocument.Substring(23, item.NameDocument.Length - 23)</td>
            <td>@item.CreateAt.ToString("dd/MM/yyyy")</td>
            <td>

                <a target="_blank" href="@Url.Action("DeThi","User",new { @fileName=item.NameDocument,@path= item.Path })">
                    <img alt="preview_document" src="~/Assets/Img/preview_img.png" width="30px" height="25px"> Xem
                </a>

                <a style="margin-left:2%" target="_blank" href="/GiaoVien/HeThongTaiLieu_GV/DownloadFile?filePath=@item.Path">
                    <img alt="download_document" src="~/Assets/Img/download_img.png" width="30px" height="25px"> Tải Xuống
                </a>
            </td>
        </tr>
    }


</table>



