
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <div><button class="btn btn-danger" style="margin-left: 10px; float: right" onclick="location.href='/Home/Index'"><i class="fas fa-sign-out-alt"></i></button></div>
    <div class="title-page"><h2>Danh Sách </h2></div>

</div>
<div class="container-fluid">
    <!-- Page Heading -->
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead style="background-color: darkorange; color: white;">
                        <tr>

                            <th>Nghỉ Từ</th>
                            <th>Nghỉ Đến</th>
                            <th>Lý Do</th>
                            <th>Trạng Thái</th>
                        </tr>
                    </thead>

                    <tbody id="myTable" class="tbody">
                        
                            @foreach (var item in Model as IEnumerable<WEBSoLienLacDienTu.Models.DanhSachXinPhepModels>)
                            {
                                <tr>

                                    @Html.DisplayFor(modelitem => item.NghiTu)
                                    @Html.DisplayFor(modelitem => item.NghiDen)
                                    @Html.DisplayFor(modelitem => item.LyDo)
                                    @*@Html.DisplayFor(modelitem => item.TrangThai)*@
                                    @if (item.TrangThai == 2)
                                    {
                                        <td><label style="color: red; font-weight: bold;">Cho Phép</label></td>
                                    }
                                    else
                                    {
                                        <td><label style="color: red; font-weight: bold;">Không Cho Phép</label></td>
                                    }
                                  
                                </tr>
                            }
                        
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

