
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="title-page"><h2>Danh Sách </h2></div>
<div class="container-fluid">
    <!-- Page Heading -->
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead style="background-color: darkorange; color: white;">
                        <tr>

                            <th>Nghỉ Từ</th>
                            <th>Nghỉ Đến</th>
                            <th>Lý Do</th>
                            <th>Trạng Thái</th>
                        </tr>
                    </thead>

                    <tbody id="myTable" class="tbody">
                        
                            @foreach (var item in Model as IEnumerable<DTO.XinPhep>)
                            {
                                <tr>

                                    <td>@item.NghiTu.ToString("dd/MM/yyyy")</td>
                                    <td>@item.NghiDen.ToString("dd/MM/yyyy")</td>
                                    <td>@item.LyDo</td>
                                    @if (item.TrangThai == 2)
                                    {
                                        <td><label style="color: greenyellow; font-weight: bold;">Đã Xét Duyệt</label></td>
                                    }
                                    else
                                    {
                                        <td><label style="color: red; font-weight: bold;">Từ Chối</label></td>
                                    }
                                </tr>
                            }
                        
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

