@model DTO.BHYT
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="title-page"><h2>Đăng Ký BHYT</h2></div>
<div class="container-fluid">

    @if (Model.DangKy == 1 || Model.BHQD == 1)
    {
        <div class="box">
            <div class="row justify-content-center">
                <div>
                    <label style="font-weight: bold; margin-right: 5px;">BHYT</label>
                    <label>Trạng Thái: </label>
                    @if (Model.DangKy == 0)
                    { <label style="color: red;">Chưa Đăng Ký</label>}
                    else
                    { <label style="color: greenyellow;">Đã Đăng Ký</label>}
                </div>
            </div>
            <div class="row justify-content-center">
                <div>
                    <label style="font-weight: bold; margin-right: 5px;">BHQD</label>
                    <label>Trạng Thái: </label>
                    @if (Model.BHQD == 0)
                    { <label style="color: red;">Chưa Đăng Ký</label>}
                    else
                    { <label style="color: greenyellow;">Đã Đăng Ký</label>}
                </div>
            </div>
            <div class="row justify-content-center mx-auto">
                <button class="btn btn-danger" onclick="HuyDangKyBHYT();" style="color: white; font-weight: bold;">Hủy Đăng Ký</button>
            </div>
        </div>
    }
    else
    {
        <div class="box">
            <div class="row justify-content-center">
                <div>
                    <label style="font-weight: bold; margin-right: 5px;">BHYT</label>
                    <label>Trạng Thái: </label>
                    @if (Model.DangKy == 0)
                    { <label style="color: red;">Chưa Đăng Ký</label>}
                    else
                    { <label style="color: greenyellow;">Đã Đăng Ký</label>}
                </div>
            </div>
            <div class="row justify-content-center">
                <div>
                    <label style="font-weight: bold; margin-right: 5px;">BHQD</label>
                    <label>Trạng Thái: </label>
                    @if (Model.BHQD == 0)
                    { <label style="color: red;">Chưa Đăng Ký</label>}
                    else
                    { <label style="color: greenyellow;">Đã Đăng Ký</label>}
                </div>
            </div>
            <div class="row justify-content-center mx-auto">
                <button class="btn btn-warning" onclick="DangKyBHYT();" style="margin-right: 15px; color: white; font-weight: bold;">Đăng Ký BHYT</button>
                <button class="btn btn-warning" onclick="DangKyBHQD();" style="color: white; font-weight: bold;">Đã Có BHQD</button>
            </div>
        </div>
    }

</div>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>
    function DangKyBHYT() {
        $.ajax({
            url: "/BaoHiemYTe/DKBHYT/",
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success:function(result) {
                alert("Đăng Ký Thành Công !");
                location.reload();
            },
            error: function (errormessage) {
                alert("Cập Nhật Thất Bại !");
            }
        });
    };
    function DangKyBHQD() {
        $.ajax({
            url: "/BaoHiemYTe/DKBHQD/",
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                alert("Đăng Ký Thành Công !");
                location.reload();
            },
            error: function (errormessage) {
                alert("Cập Nhật Thất Bại !");
            }
        });
    };
    function HuyDangKyBHYT() {
        $.ajax({
            url: "/BaoHiemYTe/HuyBHYT/",
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                alert("Thành Công !");
                location.reload();
            },
            error: function (errormessage) {
                alert("Thất Bại !");
            }
        });
    };
</script>
