
@{
    ViewBag.Title = "Documents";
    Layout = "~/Areas/GiaoVien/Views/Shared/_LayoutGiaoVien.cshtml";
}
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 80%;
        margin: 0 auto;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 2px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    #link_document:hover {
        text-decoration: underline;
        cursor: pointer;
        color: blue;
    }
</style>
<h2>Tài Liệu Download</h2>
<hr />
<div class="row">

    <div style="margin-left: 10px">
        <a href="@Url.Action("Import_Documents")" class="btn btn-success btn-icon-split" style="margin: 2px 10px" id="UploadGG">
            <span class="icon text-white-50">
                <i class="fas fa-plus-square"></i>
            </span>
            <span>Upload Tài Liệu</span>
        </a>
    </div>
</div>

<hr />
<table>
    <tr>
        <th>Mã Tài Liệu</th>
        <th>Tên Tài Liệu</th>
        <th>Ngày Tải Lên</th>
        <th></th>
    </tr>
    <tr>
        <td id="link_document">Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
        <td>xóa</td>
    </tr>

</table>

