
@{
    ViewBag.Title = "Import_Documents";
    Layout = "~/Areas/GiaoVien/Views/Shared/_LayoutGiaoVien.cshtml";
}

<h2>Import_Documents</h2>


@using (Html.BeginForm("Import_Documents", "HeThongTaiLieu_GV", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row" style="margin-top:10px;margin-bottom:10px;">
        <div class="col-md-2"><label for="file">Upload file :</label></div>
        <div class="col-md-10">
            <input type="file" name="file" id="file" />
        </div>
        <div class="col-md-2">
            <br />
            <input type="submit" class="btn btn-success" value="Upload" />
        </div>
    </div>
}

@ViewBag.Success