
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/GiaoVien/Views/Shared/_LayoutGiaoVien.cshtml";
}

<div class="title-page"><h2>Trang Chủ Giáo Viên</h2></div>
<hr/>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row justify-content-center menu">
                <div class="col-6 col-md-2">
                    <div class="card" data-toggle="modal" data-target="#TBModal"  style="width: 100%">
                        <img src="~/Assets/Img/ThongBao_Image.png" alt="ThongBao" style="width: 100%">
                        <div>
                            <button class="btn btn-warning" style="width: 100%; margin-top: 10px; color: white;padding: 6px;"data-toggle="modal" data-target="#TBModal">Thông Báo</button>
                        </div>
                        <div class="modal fade" id="TBModal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Loại Thông Báo</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col">
                                                <div class="card" onclick="location.href = '/GiaoVien/ThongBaoCaNhanGV/Index'" style="width: 100%">
                                                    <img src="~/Assets/Img/TBLop_Image.png" alt="DiemDanh" style="width: 100%">
                                                    <div >
                                                        <button class="btn btn-warning" style="width: 100%; margin-top: 10px; color: white;padding: 6px;" onclick="location.href = '/GiaoVien/ThongBaoCaNhanGV/Index'">Lớp</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="card" onclick="location.href = '/GiaoVien/ThongBaoCaNhanGV/Index2'" style="width: 100%">
                                                    <img src="~/Assets/Img/TBHocSinh_Image.png" alt="DiemDanh" style="width: 100%">
                                                    <div >
                                                        <button class="btn btn-warning" style="width: 100%; margin-top: 10px; color: white;padding: 6px;"onclick="location.href = '/GiaoVien/ThongBaoCaNhanGV/Index2'">Học Sinh</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" style="color: white; font-weight: bold;" class="btn btn-warning" data-dismiss="modal">Đóng</button>
                                    </div>
        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-2">
                    <div class="card" style="width: 100%" onclick="location.href = '/GiaoVien/QuanLyNhapDiem/Index'">
                        <img src="~/Assets/Img/mark_Image.png" alt="NhapDiem" style="width: 100%">
                            <div>
                                <button class="btn btn-warning" onclick="location.href='/GiaoVien/QuanLyNhapDiem/Index'" style="width: 100%; margin-top: 10px; color: white; padding: 6px; ">Nhập Điểm</button>
                            </div>
                    </div>
                </div>
                <div class="col-6 col-md-2">
                    <div class="card" style="width: 100%" onclick="location.href = '/GiaoVien/DiemDanhGV/Index'">
                        <img src="~/Assets/Img/DiemDanh_Image.png" alt="DiemDanh" style="width: 100%">
                            <div >
                                <button class="btn btn-warning" onclick="location.href = '/GiaoVien/DiemDanhGV/Index'" style="width: 100%; margin-top: 10px; color: white;padding: 6px;  ">Điểm Danh</button>
                            </div>
                    </div>
                </div>
                <div class="col-6 col-md-2">
                    <div class="card">
                        
                            <img src="~/Assets/Img/List_Image.png" alt="DuyetDon" style="width: 100%">
                            <div >
                                <button class="btn btn-warning" style="width: 100%; margin-top: 10px; color: white;padding: 6px; ">Duyệt Đơn</button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

