
@{
    ViewBag.Title = "NhapDiem";
    Layout = "~/Areas/GiaoVien/Views/Shared/_LayoutGiaoVien.cshtml";
}

<h2>Trang Nhập Điểm</h2>
<hr />
<div class="row">
    <div style="margin-left: 10px">
        <a href="@Url.Action("DanhSachDiem")" class="btn btn-success btn-icon-split" style="margin: 2px 10px" id="Excel">
            <span class="icon text-white-50">
                <i class="fas fa-clipboard-list"></i>
            </span>
            <span>Xem Danh Sách Điểm</span>
        </a>
    </div>
    <button class="btn btn-danger" style="margin-left: 10px" id="ExitButton"><i class="fas fa-sign-out-alt"></i></button>
</div>

<hr />

