
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thêm Môn Học Mới</h2>
<hr />
<div class="container">
    <form class="needs-validation" novalidate>
        <div class="form-group">
            <label for="TenMH">Nhập Tên Môn : </label>
            <input type="text" class="form-control" id="TenTk" placeholder="Nhập Tên Môn Học ..." name="TenMH" required>
            <div class="valid-feedback">Đã Nhập</div>
            <div class="invalid-feedback">Vui Lòng Điền Thông Tin !</div>
        </div>
        <div class="form-group">
            <label for="sel1">Chọn Loại Điểm :</label>
            <select class="form-control" id="sel1" name="sellist1">
                <option>1</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Thêm</button>
    </form>
</div>

<script>
// Disable form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Get the forms we want to add validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
<hr />

