
@{
    ViewBag.Title = "ThemTaiKhoanPH";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h2>Tạo Mới Tài Khoản Phụ Huynh</h2>
    <hr />
    <div class="container">
        <form class="needs-validation" novalidate>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label for="TenTk">Tên Tài Khoản:</label>
                <input type="text" class="form-control" id="TenTk" placeholder="Nhập Tên Tài Khoản ...(SĐT)" maxlength="10" onkeypress="return (event.charCode !=8 && event.charCode ==0 || ( event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)))" name="TenTk" required>
                <div class="valid-feedback">Đã Nhập</div>
                <div class="invalid-feedback">Vui Lòng Điền Thông Tin !</div>
            </div>
            <div class="form-group">
                <label for="mk">Mật Khẩu:</label>
                <input type="text" class="form-control" id="TenTk" name="mk" value="Mật Khẩu Khi Tạo Mới Là Tên Tài Khoản" disabled="disabled">
            </div>
            <div class="form-group">
                <label for="TenMe">Tên Mẹ :</label>
                <input type="text" class="form-control" id="TenMe" placeholder="Nhập Tên" name="TenMe" required>
                <div class="valid-feedback">Đã Nhập</div>
                <div class="invalid-feedback">Vui Lòng Điền Thông Tin !</div>
            </div>
            <div class="form-group">
                <label for="SDTMe">SĐT :</label>
                <input type="text" maxlength="10" onkeypress="return (event.charCode !=8 && event.charCode ==0 || ( event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)))" class="form-control" id="SDTMe" placeholder="Nhập SĐT" name="SDTMe" required>
                <div class="valid-feedback">Đã Nhập</div>
                <div class="invalid-feedback">Vui Lòng Điền Thông Tin !</div>
            </div>
            <div class="form-group">
                <label for="TenBo">Tên Bố :</label>
                <input type="text" class="form-control" id="TenBo" placeholder="Nhập Tên" name="TenBo" required>
                <div class="valid-feedback">Đã Nhập</div>
                <div class="invalid-feedback">Vui Lòng Điền Thông Tin !</div>
            </div>
            <div class="form-group">
                <label for="SDTBo">SĐT :</label>
                <input type="text" maxlength="10" onkeypress="return (event.charCode !=8 && event.charCode ==0 || ( event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)))" class="form-control" id="SDTBo" placeholder="Nhập SĐT" name="SDTBo" required>
                <div class="valid-feedback">Đã Nhập</div>
                <div class="invalid-feedback">Vui Lòng Điền Thông Tin !</div>
            </div>

            <button type="submit" class="btn btn-warning">Thêm Mới</button>
        </form>
    </div>

    <script>
        // Disable form submissions if there are invalid fields
        (function() {
            'use strict';
            window.addEventListener('load',
                function() {
                    // Get the forms we want to add validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms,
                        function(form) {
                            form.addEventListener('submit',
                                function(event) {
                                    if (form.checkValidity() === false) {
                                        event.preventDefault();
                                        event.stopPropagation();
                                    }
                                    form.classList.add('was-validated');
                                },
                                false);
                        });
                },
                false);
        })();
    </script>
}


