
@{
    ViewBag.Title = "GVBM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <div><button class="btn btn-danger" style="margin-left: 10px; float: right" onclick="location.href='/Home/Index'"><i class="fas fa-sign-out-alt"></i></button></div>
    <div class="title-page"><h2>Thông Tin Giáo Viên Bộ Môn</h2></div>

</div>

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                    <thead style="background-color: darkorange; color: white;">
                        <tr>
                            <th>Môn Học</th>
                            <th>Tên Giáo Viên</th>
                            <th>SĐT</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model as IEnumerable<WEBSoLienLacDienTu.Models.ThongTinGVBMModel>)
                        {
                            <tr>
                                <td>@item.TenMon</td>
                                @if (item.TenGV == "")
                                {
                                    <td>Chưa Có</td>
                                }
                                else
                                {
                                    <td style="font-weight: bold; color: red;">@item.TenGV</td>
                                }
                                @if (item.SDT == "")
                                {
                                    <td>Chưa Có</td>
                                }
                                else
                                {
                                    <td style="font-weight: bold; color: red;">@item.SDT</td>
                                }
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
