
@{
    ViewBag.Title = "GVBM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tra Cứu Giáo Viên Bộ Môn</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <from class="form-group"></from>
            <label for="sel1">Lớp</label>
            <div class="input-group mb-3">
                <select class="form-control" id="sel1" name="sellist1"></select>
            </div>
            <label for="sel1">Môn Học:</label>
            <div class="input-group mb-3">
                <select class="form-control" id="sel3" name="sellist1">
                    <option>Toán</option>
                </select>
            </div>
            <input id="Button1" type="button" value="Lọc" size="30" />
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="card shadow mb-4">      
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tên Giáo Viên</th>
                            <th>Môn Học</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

