

@model IEnumerable<WEBSoLienLacDienTu.Areas.Admin.Code.QRCodeModel>
@{
    ViewBag.Title = "IndexQR";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="title-page">Mã QR Tự Phát Sinh Theo Lớp</h2>


<div class="container-fluid">
    <div>
        <p class="font-weight-bold " style="text-align: center; background-color: darkorange; color: white;">Mã QR</p>
    </div>
    <div class="row">
        @if (Model.Count() == 0)
        {
            <script type="text/javascript">
                alert("Xin Lỗi, Lớp Chưa Có Dữ Liệu!");
            </script>
            <div class="box" style="margin: 0 auto; width: 80%;">
                <div style="margin: 0 auto; width: 50%;">
                    <p style="font-weight: bold;text-align: center; margin-bottom: 0; color: red;">Trống</p>
                </div>
            </div>
        }
        else
        {
            foreach (var item in Model)
            {
                <div class="col-6 col-md-3 col-lg-3 col-xl-3" style="padding: 10px; width: 12rem;">
                    <div class="card" style="width:300  px">
                        <img class="card-img-top" src="@item.QRCodeImagePath" alt="Card image" style="width:40%;margin:auto">
                        <div class="card-body">
                            <h3 class="card-title">@item.Ten</h3>
                            @if (item.GioiTinh == 1)
                            {

                                <h4 class="card-title">Giới Tính: Nam</h4>}
                            else
                            { <h4 class="card-title">Giới Tính: Nữ</h4>}
                            <h4 class="card-title">Ngày Sinh: @item.NgaySinh</h4>
                            <h4 class="card-title">Lớp: @item.Lop</h4>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>



