
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Trang Quản Lý Thời Khóa Biểu</h2>
<form>
    <label for="sel1">Chọn Lớp:</label>
    <div class="input-group mb-3">
        <select class="form-control" id="sel1" name="sellist1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        <button type="submit" class="btn btn-warning">Chọn</button>
    </div>
</form>
<div class="container-fluid">
    <!-- Page Heading -->
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <form>
                <div class="input-group mb-3">
                    <h6 class="m-0 font-weight-bold text-primary">Quản Lý Thời Khóa Biểu</h6>

                </div>
            </form>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Thứ 2</th>
                            <th>Thứ 3</th>
                            <th>Thứ 4</th>
                            <th>Thứ 5</th>
                            <th>Thứ 6</th>
                            <th>Thứ 7</th>
                            <th>Chủ Nhật</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Tiết 1</td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                        </tr>
                        <tr>
                            <td>Tiết 2</td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                        </tr>
                        <tr>
                            <td>Tiết 3</td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                        </tr>
                        <tr>
                            <td>Tiết 4</td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                        </tr>
                        <tr>
                            <td>Tiết 5</td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                        </tr>
                        <tr>
                            <td>Tiết 6</td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                        </tr>
                        <tr>
                            <td>Tiết 7</td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                        </tr>
                        <tr>
                            <td>Tiết 8</td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                        </tr>
                        <tr>
                            <td>Tiết 9</td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                        </tr>
                        <tr>
                            <td>Tiết 10</td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                            <td><a href="#">+</a></td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>

</div>

