
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xem Học Phí</h2>
<div class="input-group mb-3 text-danger">@ViewData["Loi"]</div>
<form>
    <label for="sel1">Chọn Tháng:</label>
    <div class="input-group mb-3 ">
        @Html.DropDownList("LstThang",
            new List<SelectListItem>
            {
                new SelectListItem {Text = "Tháng 1",Value = "1"},
                new SelectListItem {Text = "Tháng 2",Value = "2"},
                new SelectListItem {Text = "Tháng 3",Value = "3"},
                new SelectListItem {Text = "Tháng 4",Value = "4"},
                new SelectListItem {Text = "Tháng 5",Value = "5"},
                new SelectListItem {Text = "Tháng 6",Value = "6"},
                new SelectListItem {Text = "Tháng 7",Value = "7"},
                new SelectListItem {Text = "Tháng 8",Value = "8"},
                new SelectListItem {Text = "Tháng 9",Value = "9"},
                new SelectListItem {Text = "Tháng 10",Value = "10"},
                new SelectListItem {Text = "Tháng 11",Value = "11"},
                new SelectListItem {Text = "Tháng 12",Value = "12"}
            }
            , null, new { @class = "form-control" })
    </div>
</form>

