
@{
    ViewBag.Title = "ThanhToanThanhCong_MoMo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div style="margin-top:10%;color:forestgreen;">
        <hr />
        <h4 style="text-align:center">Thanh Toán Thành Công, Thông Tin Học Phí Sẽ Được Cập Nhật Lại Sau Khi Nhà Trường Xác Nhận Giao Dịch!</h4>
        <hr />
        <h5 style="text-align:center">Cám Ơn Bạn Đã Sử Dụng Hệ Thống!</h5>
        <hr />
        <br />
        <a class="btn btn-danger" style="float:right" href="/Home/Index">Quay Lại Trang Chủ</a>
    </div>


