
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Quản lý thông tin học phí</h2>
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <from class="form-group"></from>
            <label for="text1">Họ và Tên</label>
            <div class="input-group mb-3">
                <input id="text1" type="text" size="50"/>
            </div>
                    
            <label for="sel2">Tháng</label>
            <div class="input-group mb-3">
                <select class="form-control" id="sel2" name="sellist1"></select>
            </div>
                    
            <label for="sel3">Lớp</label>
            <div class="input-group mb-3">
                <select class="form-control" id="sel3" name="sellist1"></select>
            </div>
                    
            <label for="text4">Số ngày học</label>
            <div class="input-group mb-3">
                <input id="text4" type="text" size="50"/>
            </div>
                    
            <label for="text5">Tiền học phí</label>
            <div class="input-group mb-3">
                <input id="text5" type="text" size="50" />
            </div>
                    
            <label for="text6">Tiền ăn</label>
            <div class="input-group mb-3">
                <input id="text6" type="text" size="50"/>
            </div>
                   
            <label for="text7">Tiền điện</label>
            <div class="input-group mb-3">
                <input id="text7" type="text" size="50" />
            </div>
                    
            <label for="text8">Tiền nước</label>
            <div class="input-group mb-3">
                <input id="text8" type="text" size="50" />
            </div>
                    
            <label for="text9">Tiền vệ sinh</label>
            <div class="input-group mb-3">
                <input id="text9" type="text" size="50" />
            </div>
                    
            <label for="text10">Tiền trang thiết bị</label>
            <div class="input-group mb-3">
                <input id="text10" type="text" size="50"/>
            </div>
                    
            <label for="text11">Tiền tài liệu</label>
            <div class="input-group mb-3">
                <input id="text11" type="text" size="50"/>
            </div>
            <input id="Submit1" type="submit" value="Thêm vào danh sách" />                                                          
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <form>
                <div class="input-group mb-3">
                    <h6 class="m-0 font-weight-bold text-primary">Danh Sách Học Sinh</h6>

                </div>
            </form>
        </div>
        <div class="card-body">
            <input class="form-control" id="myInput" type="text" placeholder="Tìm Kiếm Học Sinh">
            <br>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="80%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tên Học Sinh</th>
                            <th>Tháng</th>
                            <th>Lớp</th>
                            <th>Số ngày học</th>
                            <th>Tiền học phí</th>
                            <th>Tiền ăn</th>
                            <th>Tiền điện</th>
                            <th>Tiền nước</th>
                            <th>Tiền vệ sinh</th>
                            <th>Tiền trang thiết bị</th>
                            <th>Tiền tài liệu</th>
                            <th>Tổng học phí</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>

</div>
