@model WEBSoLienLacDienTu.Areas.Admin.Models.GetClassModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h2>Quản lý thông tin học phí</h2>  
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="input-group mb-3 text-danger">@ViewData["Loi"]</div>
                <from>
                    <label for="sel1">Chọn Khối:</label>
                    <div class="input-group mb-3 ">
                        @Html.DropDownListFor(model => model.IDKhoi, new SelectList(" "), "Vui Lòng Chọn Khối", new { @class = "form-control" })
                    </div>

                    <button type="submit" id="TaiDuLieu" class="btn btn-warning">Chọn</button>
                </from>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
    <hr />

    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>

        $(document).ready(function () {
            $("#IDKhoi").change(function () {
                $.get("/QuanLyThongTinHS/LoadListLop", { IDKhoi: $("#IDKhoi").val() }, function (data) {
                    $("#ID").empty();
                    $.each(data, function (index, row) {
                        $("#ID").append("<option value='" + row.Value + "'>" + row.Text + "</option>")
                    });
                });
            })
        });
        
    </script>*@
}
