@model WEBSoLienLacDienTu.Areas.Admin.Models.getKhoiModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container-fluid">
    <div><button class="btn btn-danger" style="margin-left: 10px; float: right" onclick="location.href='/Admin/HomeAdmin/Index'"><i class="fas fa-sign-out-alt"></i></button></div>
    <div class="title-page"><h2>Quản lý thông tin học phí</h2></div>

</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
      
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="input-group mb-3 text-danger">@ViewData["Loi"]</div>
                <from>
                    <label for="sel1">Chọn Khối:</label>
                    <div class="input-group mb-3 ">
                        @if (ViewBag.LstKhoi != null)
                        {
                            @Html.DropDownListFor(model => model.ID, ViewBag.LstKhoi as SelectList, "Vui Lòng Chọn Khối", new { @class = "form-control" })
                        }
                    </div>

                    <button type="submit" id="TaiDuLieu" class="btn btn-warning">Chọn</button>
                </from>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
    <hr />
}


