
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin học sinh</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <from class="form-group"></from>
            <label for="text1">Họ và Tên</label>
            <div class="input-group mb-3">
                <input id="text1" type="text" size="50" />
            </div>

            <label for="sel2">Lớp</label>
            <div class="input-group mb-3">
                <select class="form-control" id="sel2" name="sellist1"></select>
            </div>
           

            <label for="text4">Ngày Sinh</label>
            <div class="input-group mb-3">
                <input id="text4" type="text" size="50" />
            </div>

            <label for="text5">Giới Tính</label>
            <div class="input-group mb-3">
                <input id="text5" type="text" size="50" />
            </div>

            <label for="text6">Nơi Sinh</label>
            <div class="input-group mb-3">
                <input id="text6" type="text" size="50" />
            </div>

            <label for="text7">Dân Tộc</label>
            <div class="input-group mb-3">
                <input id="text7" type="text" size="50" />
            </div>

            <label for="text8">Tôn Giáo</label>
            <div class="input-group mb-3">
                <input id="text8" type="text" size="50" />
            </div>

            <input id="Button1" type="button" value="Cập Nhật" size="20" />          
            
        </div>
    </div>
</div>

