
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thêm Mới Thông Báo Toàn Trường</h2>
<hr />
<div class="container">

        <form>
            <div class="form-group">
                <label for="NoiDung">Nhập Nội Dung :</label>
                <textarea class="form-control" rows="10" id="NoiDung" name="text"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Xác Nhận</button>
        </form>

</div>
<hr />

