
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Trang Quản Lý Phân Công Dạy Học</h2>
<hr />
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="input-group mb-3 text-danger">@ViewData["Loi"]</div>
        <form>
            <label for="sel1">Chọn Khối:</label>
            <div class="input-group mb-3 ">
                @if (ViewBag.LstKhoi != null)
                {
                    @Html.DropDownList("LstKhoi", (IEnumerable<SelectListItem>)ViewBag.LstKhoi, "Vui Lòng Chọn Khối", new { @class = "form-control" })
                }
            </div>
            <button type="submit" id="TaiDuLieu" class="btn btn-warning" style="color: white" onclick="Loadtable();">
                <span>Chọn</span>
            </button>
        </form>
    </div>
    <div class="col-lg-3"></div>
</div>
<hr />
<div class="container-fluid">
    <!-- Page Heading -->
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <form>
                <div class="input-group mb-3">
                    <h6 class="m-0 font-weight-bold text-primary">Danh Sách Lớp</h6>
                </div>
            </form>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th width="8%"></th>
                            <th>Mã Lớp</th>
                            <th>Tên Lớp</th>
                        </tr>
                    </thead>
                    <tbody id="myTable" class="tbody">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Areas/Admin/Scripts/PhanCongDay.js"></script>

